*~
.~*
*.pyc

.idea/
__pycache__/

src/conf/djconfig_local.py
src/conf/qosconfig_local.py
static/
media/
meta/airflow/*
meta/minio/*

src/templates/test.html
src/db/works/printer/test.xlsx

etc/test.py
etc/report/

db.sqlite3

logs/*.log*

venv
venv/**
venv3.6/*
venv39/*
./celerybeat*
docs/_*
docs/qos*
.vscode*
*DS_STORE

update.sh
tmp/
etc/compose/build-custom.sh

.coverage
coverage.xml
junit.xml
xunit.xml
.pytest_cache/
etc/compose/tests_mounts
mounts
docker-compose.yml
.env